<p class="alert alert-info">Custom Process Body Component</p>
<p class="alert alert-info">{{options.body}}</p>
{{#if options.iconClass}}
  <p class="text-center"><i class={{options.iconClass}}></i></p>
{{/if}}