<p class="alert alert-danger">Custom Prompt Confirm Body Component</p>
<p class="alert alert-danger">Please enter a "{{options.promptValue}}" without quotes</p>
<input type="text" class="form-control" oninput={{action updatePromptValue value="target.value"}} />