{{! BEGIN-SNIPPET components-custom-prompt-body.hbs }}
<p class="alert alert-warning">
  Custom Prompt Body Component
</p>
<input
  aria-label="prompt-value"
  type="text"
  class="form-control"
  {{on "input" this.updatePromptValueInternal}}>
{{! END-SNIPPET }}