{{! BEGIN-SNIPPET components-custom-check-confirm-body.hbs }}
<p class="alert alert-danger">Custom Check Confirm Body Component</p>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        {{on "change" @updatePromptValue}}>
      Custom Label
    </label>
  </div>
</div>
{{! END-SNIPPET }}