<p class="alert alert-danger">Custom Check Confirm Body Component</p>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox" onchange={{action updatePromptValue value="target.value"}}/> Custom Label
    </label>
  </div>
</div>