{{! BEGIN-SNIPPET components-custom-process-body.hbs }}
<p class="alert alert-info">Custom Process Body Component</p>
<p class="alert alert-info">{{this.options.body}}</p>
{{#if this.options.iconClass}}
  <p class="text-center"><i class={{this.options.iconClass}}></i></p>
{{/if}}
{{! END-SNIPPET }}