<h1><code>promptConfirm</code></h1>

<p>Almost the same as <code>prompt</code>, however its "Yes"-button is disabled until user write needed value to the input-field.</p>

<p>As a <code>confirm</code> it's used to the ask user about confirmation for some action, but it's more demanding.</p>

<CodeBlockExample @snippetName="prompt-confirm-demo-controller.js" @title="Prompt Confirm Modal"/>

<h2>Customization</h2>

<CodeBlockExample @snippetName="prompt-confirm-custom-demo-controller.js" @title="Custom Prompt Confirm Modal"/>

<h3>Title Component</h3>

<p>It takes a single parameter <code>options</code>. Its value is an object passed to the <code>modalsManager.promptConfirm</code>.</p>

<CodeBlockExample @snippetName="components-custom-prompt-confirm-header.hbs" @title="components/custom-prompt-confirm-header.hbs"/>

<h3>Body Component</h3>

<p>It takes two parameters. First one is an <code>options</code> described before. Second one is an action <code>updatePromptValue</code> It's used to update prompted value in the modal-scope. Usage example:</p>

<CodeBlockExample @snippetName="components-custom-prompt-confirm-body.hbs" @title="components/custom-prompt-confirm-body.hbs"/>

<h3>Footer Component</h3>

<p>It takes four parameters. First one is an <code>options</code> described before. Second one is a <code>confirmDisabled</code>. This flag determines if confirm-button should be disabled. Last two are actions <code>confirm</code> and <code>decline</code> used as click-handler for "Yes" and "No" buttons. Usage example:</p>

<CodeBlockExample @snippetName="components-custom-prompt-confirm-footer.hbs" @title="components/custom-prompt-confirm-footer.hbs"/>
