<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1><i class="glyphicon glyphicon-modal-window"></i> Ember Bootstrap Modals Manager</h1>
      <h3>Install</h3>
      <pre>ember i ember-bootstrap-modals-manager</pre>
      <h3>Check <a href="https://onechiporenko.github.io/ember-bootstrap-modals-manager/docs/modules/EmberBootstrapModalsManager.html">API docs</a>.</h3>
    </div>
  </div>
  {{outlet}}
</div>
{{modals-container}}