<div class="row">
  <div class="col-sm-4 col-md-3">
    <BsNav
      @type="pills"
      @justified={{false}}
      @stacked={{true}}
      @fill={{false}} as |nav|
    >
      <nav.item>
        <nav.link-to @route="docs.install">Install</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.index"><span class="text-uppercase">Predefined Modals</span></nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.alert">Alert</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.confirm">Confirm</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.prompt">Prompt</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.check-confirm">Check Confirm</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.prompt-confirm">Prompt Confirm</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.process">Process</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.progress">Progress</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to class="disabled" @route="index"><span class="text-uppercase">Custom Modals</span></nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.with-form">With Form</nav.link-to>
      </nav.item>
      <nav.item>
        <nav.link-to @route="docs.modals.passing-values">Passing Values</nav.link-to>
      </nav.item>
    </BsNav>
  </div>
  <div class="col-sm-8 col-md-9">
    {{outlet}}
  </div>
</div>