<div class="row">
  <div class="col-md-6">
    <h3>Default modals:</h3>
    {{#bs-button class="alert-modal" onClick=(action "showAlertModal")}}Alert Modal{{/bs-button}}
    {{#bs-button class="confirm-modal" onClick=(action "showConfirmModal")}}Confirm Modal{{/bs-button}}
    {{#bs-button class="prompt-modal" onClick=(action "showPromptModal")}}Prompt Modal{{/bs-button}}
    {{#bs-button class="prompt-confirm-modal" onClick=(action "showPromptConfirmModal")}}Prompt Confirm Modal{{/bs-button}}

    <h3>Modals with custom components:</h3>
    {{#bs-button class="custom-alert-modal" onClick=(action "showCustomAlertModal")}}Alert Modal{{/bs-button}}
    {{#bs-button class="custom-confirm-modal" onClick=(action "showCustomConfirmModal")}}Confirm Modal{{/bs-button}}
    {{#bs-button class="custom-prompt-modal" onClick=(action "showCustomPromptModal")}}Prompt Modal{{/bs-button}}
    {{#bs-button class="custom-prompt-confirm-modal" onClick=(action "showCustomPromptConfirmModal")}}Prompt Confirm Modal{{/bs-button}}
    {{outlet}}
  </div>
  <div class="col-md-6">
    <p>Logs:</p>
    <pre class="logs">{{#each messages as |message|}}{{message}}
{{/each}}</pre>
  </div>
</div>